.task-list-container {
    .ant-collapse-expand-icon {
        height: 32px !important;
    }
    .ant-collapse-header {
        padding: 0 !important;
    }

    .ant-collapse-header-text {
        max-width: calc(100% - 24px) !important;
    }

    .ant-collapse .ant-collapse-item-disabled>.ant-collapse-header {
        cursor: auto !important;
    }

    .task-item-header {
        display: flex;
        align-items: center;

        &-title {
            color: rgba(0,0,0, 0.88) !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0
        }
    
        &-status {
            flex-shrink: 0;
            flex-grow: 0;
            margin-left: 8px;
            &-pending {
            }
            &-downloading {
                color: #1677ff
            }
            &-done {
                color: #52c41a
            }
            &-error {
                color: #ffcc00;
            }
            &-fatal {
                color: #f5222d;;
            }
        }

        &-retry {
            margin-right: -14px;
        }

        &-remove {
            cursor: pointer;
            margin-left: 8px;
        }
    }
    
    .task-item-body {
        line-break: anywhere;
        &-error-page {
            font-weight: 600;
            font-size: 16px;
            color: crimson;
        }

        &-fatal {
            font-size: 18px;
            color: crimson
        }
    }
}


.task-list-empty {
    font-size: 20px;
    color: #999;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}